.brands {
  padding: 70px 0;
}

.brands-title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  max-width: 570px;
  text-align: left;
  margin-bottom: 100px;
}

.brands-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.brands-button {
  background: #703412;
  color: #FEFBF1;
  border: none;
  padding: 1rem 2rem;
  border-radius: .2rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: .2s;
}

.brands-button:hover {
  background: #b0633c;
}

.brands-button.disabled {
  opacity: .50;
  pointer-events: none;
}

.brands-items {
  display: flex;
  justify-content: center;
  grid-gap: 3rem;
  flex-wrap: wrap;
}
