.brands {
  padding: 70px 0;
}

.brands-title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  max-width: 570px;
  text-align: left;
  margin-bottom: 100px;
}

.brands-items {
  display: flex;
  justify-content: space-between;
  grid-gap: 10px;
  flex-wrap: wrap;
}
