.header {
  padding: 20px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}

.header-items {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}

.header-link {
  color: #703412;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}
