.footer {
  background: #084935;
  color: #FFFFFF;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px 0;
}

.footer-title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.footer-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  line-height: 38px;
  margin-bottom: 5px;
}

.footer-items-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 60px 0;
}

.footer-items {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-item {
  margin: 3px 0;
}

.footer-link {
  color: #FFFFFFB8;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.16);;
  padding: 20px 0;
  text-align: left;
}

.footer-bottom-title {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;;
}
